# dev + obj
*~
*.o
*.a
*.gcno
*.gcda
*.lo
*.la
*.log
*.so
*.so.*
*.trs
.deps
.libs
.dirstamp
cscope.*
TAGS
VERSION

# meson
/build/

# dist output
/blktap-*.tar.*
/blktap-*/

# doxygen
/html/

# tests
/results

# ctags
tags

# vim swap files
*.swp

# diff/patch
*.orig
